body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #app {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-description {
    margin-top: 10px;
  }
  
  .shopping-cart-btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  